__pycache__
*.feather
*.gtf.gz
test/*.chr*
test/*motif*
test/*csv
test/*npz
test/*yml
test/*npy
seq2motif/*.npy
seq2motif/*.npz
seq2motif/*.csv
seq2motif/*.pth
G523
G549
k562
seq2motif
hg19ToHg38.over.chain.gz
data/genome
*.egg-info
human/fetal_adult
human/GBM
human/TCGA
human/TFAtlas
human/dhs
human/lymph
human/pbmc
human/pretrain_human_bingren_shendure_apr2023
human/fetal_adult_npz_patch
human/pdata
test/hg38.fa.fai
human/*.tar.gz
human/hg38.archetype_motifs.v1.0.bed.gz.tbi
human/hg38.archetype_motifs.v1.0.bed.gz
scripts/atac_rna_data_processing.code-workspace
human/tn5bias
motif_annotations.csv
*.zarr
*.gz
*.fasta
*.fa
*.bb