__pycache__
*.feather
*.gtf.gz
test/*.chr*
test/*motif*
test/*csv
test/*npz
test/*yml
test/*npy
seq2motif/*.npy
seq2motif/*.npz
seq2motif/*.csv
seq2motif/*.pth
G523
G549
k562
seq2motif
hg19ToHg38.over.chain.gz
